@import "tailwindcss";

@layer base {
  body {
    font-family: 'Poppins', sans-serif;
  }
}

@theme inline {
  /* primary color */
  --color-primary-1: #25A75C; 
  /* Gradient primary color */
  --color-primary-2: linear-gradient(150.58deg, #5CB23A 0%, #048002 100%);

  /* secondary color */
  --color-secondary-1: #060809; 
  --color-secondary-2: #F1F1F1; 
  --color-secondary-3: #4F4F4F; 
  --color-secondary-4: #0F0919CC; 
  --color-secondary-5: #555555; 
  --color-secondary-6: #979797; 
  --color-secondary-7: #000E0C; 
}
